.characterEditor {
  padding-top: 128px;
  padding-bottom: 64px;
}

.maxWidthWrapper {
  position: relative;
}

.header {
  max-width: 65%;
  padding-bottom: 64px;
}

.title {
  font-size: 2.5rem;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 16px;
  letter-spacing: -0.5px;
}

.description {
  font-size: 1.25rem;
  margin: 0;
}

.characterWrapper {
  position: fixed;
  min-height: 500px;
  height: 80%;
  top: 15%;
  left: 50%;
  margin-left: 48px;
}

.controlColumn {
  max-width: 50%;
}

.bg {
  position: fixed;
  height: 40%;
  width: 100%;
  background-color: hsl(195deg, 20%, 86%);
  bottom: 0;
}